@charset "UTF-8";
/* CSS Document */
*{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
}

/* AJUSTE EN EL MENÚ DE LA PÁGINA */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}
/* AJUSTE EN LA CABEZERA DE LA PÁGINA */
 .jumbotron {
  margin-bottom: 0;
}
/* AJUSTE EN EL PIE DE LA PÁGINA */

footer {
  background-color: #f2f2f2;
  /*ESTE ES EL EFECTO QUE CAMBIARA PARA IE*/
  _background-color: #000;
  padding: 25px;
}
